<% include header %>

  <div class="my-5 py-1"></div>
  <h1 class="text-center my-5"><%= title %></h1>
  <div class="d-flex justify-content-center mb-5">
      <img src="/gambar/<%= id %>/<%= image %>" alt="">
  </div>
  <%- desc %>

<% include footer %>